.userPhoto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
    
.selectedPage {
    font-weight: bold;
    
}

.paginator{
    margin: 10px;
}

.pageNumber{
    padding: 2px;
    border: 1px solid brown;
}

.pageNumber.selectedPage{
    font-weight: bold;
    border-color: black;
}