.nav{
  grid-area: n;
  background: lightgreen;
  padding: 20px;
}

.item a{
  text-decoration: none;
}

.active{
  color: #000;
}

.admin a{
  color: red;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
}
